<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">{{#link-to "app" application}}<strong>{{application.label}}</strong>{{/link-to}}</h3>
      <span class="pull-right">
        <small class="pull-right"> Latest version: {{maxVersion.version}} | {{moment-from-now maxVersion.createdAt hideSuffix=true}} ago
          | {{maxVersion.config.author}} / {{maxVersion.config.organization}}</small>
      </span>
    </div>
    <div class="panel-body">
      <p>
        {{application.description}}
      </p>
      <p class="text-primary version-header"><strong>Versions</strong></p>
      <div class="version-body">
        {{#each application.sortedVersions as |version|}}
          <p>{{#link-to "app.version" application version}}{{version.version}}{{/link-to}}</p>
        {{/each}}
      </div>

    </div>
  </div>
</div>

